<!DOCTYPE html>
<html lang="zh_CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>维修工单处理</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
    <link href="//cdn.bootcss.com/semantic-ui/2.2.9/semantic.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}"/>
</head>
<body>
<div class="ui teal top pointing fixed inverted menu" id="header">
    <div class="ui container">
        <a class="header item" href="/admin/index">
            <img src="{{ url_for('static', filename='images/logo3.png') }}" alt="">
        </a>
        <a class="item" href="/admin/index/nothandle" id="nothandle">未处理</a>
        <a class="item" href="/admin/index/ishandle" id="ishandle">已处理</a>
        <div class="item">
            <form action="/admin/index" method="get">
                <div class="ui search">
                    <div class="ui icon input">
                        <i class="search icon"></i>
                        <input type="number" placeholder="按学号搜索..." name="stu_id" autocomplete="off">
                    </div>
                </div>
            </form>
        </div>
        <div class="right menu">
            <a class="item" href="{{ url_for('admin_login') }}" id="admin_logout">登出</a>
        </div>
    </div>
</div>
<div class="ui modal">
    <i class="close icon"></i>
    <div class="header">
        维修完成，填写信息
    </div>
    <div class="content">
        <div class="ui ignored error message" id="error" style="display:none;"></div>
        <div class="ui ignored positive message" id="success" style="display:none;"></div>
        <form class="ui form" id="lg_form">
            <div class="field">
                <label>S/N码</label>
                <input type="number" id="wo_id" style="display: none">
                <input type="tel" id="sn" placeholder="请输入S/N码"/>
            </div>
            <div class="field">
                <label>维修项目具体描述</label>
                <input type="text" id="admin_remark" placeholder="请详细描述维修项目、维修结果等"/>
            </div>
            <a class="fluid ui teal button" id="do_handle">确定</a>
        </form>
        <br>
    </div>
</div>
<div class="ui container">
    <table class="ui celled tablet stackable table">
        <thead>
        <tr>
            <th>工单编号</th>
            <th>学号</th>
            <th>姓名</th>
            <th>手机号码</th>
            <th>电脑品牌</th>
            <th>问题</th>
            <th>备注</th>
            <th>提交时间</th>
            <th>预约时间</th>
            <th>维修人员姓名</th>
            <th>维修留言</th>
            <th>S/N码</th>
            <th>维修评价</th>
            <th>工单状态</th>
        </tr>
        </thead>
        <tbody>
        {% if content != None %}
            {% for wo in content %}
                <tr>
                    <td><a href="javascript:;" onclick="handled({{ wo.id }})">{{ wo.id }}</a></td>
                    <td>{{ wo.stu_id }}</td>
                    <td>{{ wo.stu_name }}</td>
                    <td>{{ wo.tel_number }}</td>
                    <td>{{ wo.brand }}</td>
                    <td>{{ wo.problem }}</td>
                    <td>{{ wo.remark }}</td>
                    <td>{{ wo.regtime }}</td>
                    <td>{{ wo.scheduled }}</td>
                    <td>{{ wo.admin_name }}</td>
                    <td>{{ wo.admin_remark }}</td>
                    <td>{{ wo.sn }}</td>
                    <td>{{ wo.evaluation }}</td>
                    <td>
                        {% if wo.ishandle ==0 %}
                            未处理
                        {% elif wo.ishandle ==1 %}
                            已处理
                        {% elif wo.ishandle ==2 %}
                            已完成
                        {% else %}
                            已取消
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>
</div>
<script src="//cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
<script src="//cdn.bootcss.com/semantic-ui/2.2.9/semantic.min.js"></script>
<script>
    function handled(wo_id) {
        $('.ui.modal').modal('show');
        $('#wo_id').val(wo_id);
    }

    $('#do_handle').click(function () {
        var wo_id = $('#wo_id').val().trim();
        var sn = $('#sn').val().trim();
        var admin_remark = $('#admin_remark').val().trim();

        if (wo_id && sn && admin_remark) {
            $.post(window.location.href, {id: wo_id, wo_sn: sn, admin_remark: admin_remark}, function (res) {
                if (res.errmsg == 'ok') {
                    setTimeout(function () {
                        window.location.href = window.location.href;
                    }, 500)
                } else {
                    $("#error").html("<p>res.errmsg</p>").show();
                }
            });
        } else {
            $("#error").html("<p>信息错误</p>").show();
        }
    });

</script>
</body>
</html>